<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>668504987524-v7hr6b3atu04c4oql7efrnioak4pmm63.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.668504987524-v7hr6b3atu04c4oql7efrnioak4pmm63</string>
	<key>API_KEY</key>
	<string>AIzaSyCCH3GI3W4jaNK-M-F_wjyu4BVOKGASycY</string>
	<key>GCM_SENDER_ID</key>
	<string>668504987524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ftFutsalDevelop</string>
	<key>PROJECT_ID</key>
	<string>futsal-develop</string>
	<key>STORAGE_BUCKET</key>
	<string>futsal-develop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668504987524:ios:fc96c15ae5453ebbfa6fd1</string>
</dict>
</plist>